* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
}

body {
    background-image: url("../imgs/fondo.png");
    background-color: rgb(56, 52, 52);
}

.style-bar {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    height: 75px;
    line-height: 75px;
    background: rgb(0, 0, 0);
}

nav .navbar-main {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: .5px;
}

nav .nav-list {
    display: flex;
}

nav .nav-list .nav-item {
    cursor: pointer;
    height: 100%;
    padding: 0 0px;
    transition: .4s;
}

nav .nav-list .nav-item:hover {
    background: rgb(173, 92, 0);
}

nav .nav-list .nav-link {
    color: #f1f1f1;
    font-size: 18px;
    font-weight: 500;
    padding: 28px 30px 28px 30px;
}

nav .navbar-toggler {
    display: none;
    height: min-content;
    margin: 18px -10px 0 0;
    cursor: pointer;
}

nav .navbar-toggler .bar {
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 10%;
    transition: .4s;
}

input {
    display: none;
}

input:checked ~ nav .nav-list {
    transform: translateY(0);
}

input:checked ~ nav .navbar-toggler {
    margin-top: 35px;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(1) {
    position: absolute;
    transform: rotate(45deg);
}

input:checked ~ nav .navbar-toggler .bar:nth-child(2) {
    display: none;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(3) {
    transform: rotate(-45deg);
}

main {
    color: #ffffff;
    position: relative;
    margin-top: 250px;
    margin-left: 140px;
    font-size: 25px;
    display: flex;
}
.main-item {
    margin-bottom: 60px;
    text-shadow: 0px 1px 0 rgb(255, 102, 0);
}

.main-item2 {
    margin-bottom: 60px;
    text-shadow: 0px 1px 0 rgb(255, 102, 0);
    list-style: none;
    text-align: right;
}

.fondo {
    display: flex;
}

@media (max-width: 935px) {

    body {
        background-size: 115%;
        background-image: url("../imgs/fondores.png");
        background-color: rgb(56, 52, 52);
    }

    main {
        color: #ffffff;
        position: relative;
        margin-top: 10%;
        margin-left: 12%;
        font-size: 16px;
        display: flex;
    }
    

    input:checked ~ nav .nav-list {
        transform: translateY(0%);
        z-index: 1;
    }

    nav {
        padding: 0 2rem;
    }

    nav .nav-list .nav-item{
        padding: 0 0px;

    }

    nav .nav-list .nav-link {
        padding: 27px 85% 27px 30px;
    }

    nav .nav-list {
        display: grid;
        position: absolute;
        background: rgb(0, 0, 0);
        width: 100%;
        top: 75px;
        left: 0;
        transform: translateY(-100%);
        z-index: -1;
        transition: .3s;
    }

    nav .nav-list .nav-item {
        padding-left: 0px;
    }

    nav .navbar-toggler {
        display: grid !important;
    }
}
@media (max-width: 880px) {
    nav .nav-list .nav-link {
        padding: 27px 84% 27px 30px;
    }
}
@media (max-width: 825px) {
    nav .nav-list .nav-link {
        padding: 27px 83% 27px 30px;
    }
}
@media (max-width: 530px) {
    nav .nav-list .nav-link {
        padding: 27px 73% 27px 30px;
    }
}
@media (max-width: 475px) {
    nav .nav-list .nav-link {
        padding: 27px 72% 27px 30px;
    }
}
@media (max-width: 440px) {
    nav .nav-list .nav-link {
        padding: 27px 68% 27px 30px;
    }
}
@media (max-width: 380px) {
    nav .nav-list .nav-link {
        padding: 27px 63% 27px 30px;
    }
}