* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
}

body {
    background-image: url("../imgs/fondoproyecto.png");
    background-color: rgb(56, 52, 52);
}

.style-bar {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    height: 75px;
    line-height: 75px;
    background: rgb(0, 0, 0);
}

nav .navbar-main {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: .5px;
}

nav .nav-list {
    display: flex;
}

nav .nav-list .nav-item {
    cursor: pointer;
    height: 100%;
    padding: 0 0px;
    transition: .4s;
}

nav .nav-list .nav-item:hover {
    background: rgb(173, 92, 0);
}

nav .nav-list .nav-link {
    color: #f1f1f1;
    font-size: 18px;
    font-weight: 500;
    padding: 28px 30px 28px 30px;
}

nav .navbar-toggler {
    display: none;
    height: min-content;
    margin: 18px -10px 0 0;
    cursor: pointer;
}

nav .navbar-toggler .bar {
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 10%;
    transition: .4s;
}

input {
    display: none;
}

input:checked ~ nav .nav-list {
    transform: translateY(0);
}

input:checked ~ nav .navbar-toggler {
    margin-top: 35px;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(1) {
    position: absolute;
    transform: rotate(45deg);
}

input:checked ~ nav .navbar-toggler .bar:nth-child(2) {
    display: none;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(3) {
    transform: rotate(-45deg);
}

main {
    color: #ffffff;
    position: relative;
    margin-top: 180px;
    margin-left: 140px;
    font-size: 25px;
    display: flex;
}
.main-item {
    margin-bottom: 60px;
    text-shadow: 0px 1px 0 rgb(255, 102, 0);
}

#descsitio{
    padding-top: 60px;
}

.main-item2 {
    position: relative;
    width: 300px;
    margin-left: 80px;
    
    /* margin-bottom: 30px; */
    text-shadow: 0px 1px 0 rgb(255, 102, 0);
    list-style: none;
    text-align: right;
}

#one{
    position: relative;
    top: 00px;
}

#two{
    position: relative;
    top: 30px;
}
#three{
    position: relative;
    top: 95px;
}



@media (max-width: 935px) {

    body {
        background-size: 120%;
        background-image: url("../imgs/fondoproyectores.png");
        background-color: rgb(56, 52, 52);
    }

    main {
        color: #ffffff;
        position: relative;
        margin-top: 16%;
        margin-left: 12%;
        font-size: 16px;
        display: flex;
    }
    
    .main-item2 {
        margin-left: 35px;
    }
    #two{
        position: relative;
        top: 60px;
    }
    #three{
        position: relative;
        top: 120px;
    }

    input:checked ~ nav .nav-list {
        transform: translateY(0%);
        z-index: 1;
    }

    nav {
        padding: 0 2rem;
    }

    nav .nav-list .nav-item{
        padding: 0 0px;

    }

    nav .nav-list .nav-link {
        padding: 27px 85% 27px 30px;
    }

    nav .nav-list {
        display: grid;
        position: absolute;
        background: rgb(0, 0, 0);
        width: 100%;
        top: 75px;
        left: 0;
        transform: translateY(-100%);
        z-index: -1;
        transition: .3s;
    }

    nav .nav-list .nav-item {
        padding-left: 0px;
    }

    nav .navbar-toggler {
        display: grid !important;
    }


}
@media (max-width: 880px) {
    nav .nav-list .nav-link {
        padding: 27px 84% 27px 30px;
    }
    
    .main-item2{
        width: 400px;
        margin-right: 10px;
        margin-left: 5px;
    }
    #two{
        position: relative;
        top: 60px;
    }
    #three{
        position: relative;
        top: 120px;
    }

}
@media (max-width: 825px) {
    nav .nav-list .nav-link {
        padding: 27px 83% 27px 30px;
    }

}
@media (max-width: 650px) {
    .main-item2{
        width: 250px;
        margin-right: 10px;
        margin-left: 10px;
    }
    #two{
        position: relative;
        top: 45px;
    }
    #three{
        position: relative;
        top: 105px;
    }

}
@media (max-width: 530px) {
    nav .nav-list .nav-link {
        padding: 27px 73% 27px 30px;
    }
    .main-item2{
        width: 200px;
        margin-right: 10px;
        margin-left: 5px;
    }
    #two{
        position: relative;
        top: 45px;
    }
    #three{
        position: relative;
        top: 100px;
    }

}
@media (max-width: 475px) {
    nav .nav-list .nav-link {
        padding: 27px 72% 27px 30px;
    }
}
@media (max-width: 440px) {
    nav .nav-list .nav-link {
        padding: 27px 68% 27px 30px;
    }
    .main-item{
        padding-bottom: 16px;
        width: 150px;
        margin-right: 10px;
        margin-left: 5px;
    }
    .main-item2{
        width: 130px;
        margin-right: 10px;
        margin-left: 5px;
        display: block;
    }
    #two{
        position: relative;
        top: 25px;
    }
    #three{
        position: relative;
        display:inline-block;
        top: 70px;
        text-align: start;
        width: fit-content  ;
    }

    body{
        background-image: none;
        background-color: rgb(20, 19, 19);
    }
    


}
@media (max-width: 380px) {
    nav .nav-list .nav-link {
        padding: 27px 63% 27px 30px;
    }
    .main-item{
        width: 100px;
        margin-right: 10px;
        margin-left: 5px;
    }
    .main-item2{
        width: 130px;
        margin-right: 10px;
        margin-left: 5px;
    }
    #two{
        position: relative;
        top: 25px;
    }
    #three{
        position: relative;
        top: 70px;
    }
}